@charset "UTF-8";

body {
	zoom: 100%; /* 100%로 설정하면 원래 크기를 유지합니다. */
  -moz-transform: scale(1); /* Firefox에 대한 설정 */
  -moz-transform-origin: 0 0; /* Firefox에 대한 설정 */
  transform: scale(1); /* 다른 브라우저에 대한 설정 */
  transform-origin: 0 0; /* 다른 브라우저에 대한 설정 */
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'NanumGothicEco';
}
section {
	padding-top: 150px;
}
header {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	display: flex;
}
.gohome {
	padding: 15px;
	padding-left: 100px;
}
.logo {
       cursor: pointer;
	flex-direction: row;
	gap: 10px;
	font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: white;
}
   /* 네온사인 스타일 적용 */
.neon-sign {
    font-family: 'Arial', sans-serif;
    content: '포트폴리오';
    font-size: 20px;
    color: #fff;
    position: relative;
    display: flex;
}

.neon-sign:before {
    color: #ff1493; /* 네온 파란색 */
    content: '포트폴';
    animation: flicker 1s infinite alternate;
}

.neon-sign:after {
    color: #c24cf6; /* 네온 초록색 */
    content: '리오';
    animation: flicker 1s infinite alternate-reverse;
}

@keyframes flicker {
    0%, 100% {
        opacity: 0.5;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9);
    }
    50% {
        opacity: 1;
        text-shadow: none;
    }
}

header .menu {
	margin-left: 800px;
}
header .menu ul {
	display: flex;
	flex-direction: row;
	width: 500px;
	gap: 20px;
}
header .menu li {
	list-style: none;
	margin-top: 10px;
}
header a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
header a:hover {
	color: yellow;
}
/* 아이패드 및 갤럭시 탭을 위한 미디어 쿼리 */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* 여기에 아이패드 및 갤럭시 탭에 적용될 스타일을 추가합니다. */
}
/* 아이폰 및 갤럭시 S폰을 위한 미디어 쿼리 */
@media only screen and (max-width: 767px) {
  /* 여기에 아이폰 및 갤럭시 S폰에 적용될 스타일을 추가합니다. */
  /* 세션 설정 */
.session-container {
    position: fixed;
    bottom: 0px;
    right: 50px;
    width: 600px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7); /* 검은색 반투명 배경 */
    color: #fff; /* 글자 색을 흰색으로 설정 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000; /* 세션 창을 맨 앞으로 가져옴 */
    transform: scale(0); /* 초기에는 크기를 0으로 설정하여 나타나는 효과를 줌 */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* 트랜지션 효과 추가 */
	}
	#leftButton {
	position: absolute;
	bottom: 8%;
	left: 0;
	height: 500px;
	}
	#rightButton { 
	position: absolute;
	bottom: 8%;
	right: -200px;
	height: 500px;
	width: 150px;
	transition: color 1s ease; /* 색상 전환에 대한 transition 설정 */	
}
	
}