@charset "UTF-8";

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 120px;
	box-sizing: border-box;
	padding-right: 50px;
}

.img-container {
	background-color: aqua;
}

.img-container img {
	max-width: 100%;
	height: auto;
	display: none;
}

.modal {
	position: fixed;
	width: 600px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	top: 220px;
	left: 450px;
}

.modal-content {
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.modal .notice {
	color: red;
	font-weight: bold;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background-color: window;
	color: black;
	font-weight: bold;
	padding: 2px 5px;
}